body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.swim-lanes {
    min-height: 60vh;
}

.task-card {
    margin: 0 auto;
}

.task-card:hover {
    cursor: grab;
}


.task-desc {
    width: 100%;
}

.task-desc textarea {
    width: 100%;
    resize: none;
    margin-top: 10px;
    border-radius: 5px;
}


/* .task-desc textarea,
label {
    width: 100%;
} */


.btn-container {
    display: flex;
    justify-content: center;
}

.overlap {
    z-index: 1;
}

.task-card {
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}

.task-card button {
    background-color: rgb(94, 91, 91);
    color: whitesmoke;
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
}

.past-due {
    background-color: rgba(255, 0, 0, 0.557);

}

.in-progress {
    background-color: rgba(224, 224, 2, 0.557);
}

.done {
    background-color: rgba(0, 128, 0, 0.557);
}